nav{
    background-color: darkcyan;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px gainsboro;
}

.banner{
    color: white;
}

.cart-layout{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 1.8rem;
}